/* @import style(style.css); */

@media only screen and (max-width: 1024px) {
    .intro-title {
        font-size: 1;
    }
}
@media only screen and (max-width: 768px) {
    .section-divider {
        display: block;
    }
    .intro-subtitle {
        font-size: var(--font-size-xs);
        margin: 0;
    }

    .nav-menu {
        width: 50%;
    }

    /* .fa {
        margin-right: 5px;
    } */
    
    .page_b_title p {
        font-size: var(--font-size-h6);
    }
    .page_c_title p {
        font-size: var(--font-size-h6);
    }

    .officer {
        width: fit-content;
    }

    .sched-wrapper {
        flex-direction: column;
    }

    .sub-card {
        width: 90%;
        margin: 0 0 20px 0;
    }

    .sub-card-top-left img {
        top: -30px;
        left: 0;
        transform: rotate(0deg);
        z-index: 4;
    }
}
@media only screen and (max-width: 600px) {}
@media only screen and (max-width: 450px) {   
    .intro-subtitle {
        font-size: var(--font-size-xs);
        margin: 0;
    }
}
@media only screen and (max-width: 426px) {
    
    .intro-subtitle {
        font-size: var(--font-size-xs);
        margin: 0;
    }
}
@media only screen and (max-width: 375px) {
    .intro-title {
        font-size: var(--font-size-h5);
    }
    .intro-subtitle {
        font-size: var(--font-size-xs);
        margin: 0;
    }
    .page_b_title p,
    .page_c_title p
    {
        font-size: var(--font-size-large);
    }
    .sched-header p {
        font-size: var(--font-size-medium);
    }
    .sub-card-top .sub-card-top-left p,
    .sub-card-bottom .sub-card-bottom-left,
    .btnn
    {
        font-size: var(--font-size-xxs);
    }

    .sub-card-top .sub-card-top-right img {
        height: 80px;
    }

    .sub-card-top-left {
        padding: 10px 5px;
    }

    .sub-card-bottom-left {
        padding: 0 10px;
    }
}
@media only screen and (max-width: 320px) {
    .intro-title {
        font-size: var(--font-size-h5);
    }
    .intro-subtitle {
        font-size: var(--font-size-xs);
        margin: 0;
    }
    .page_b_title p,
    .page_c_title p
    {
        font-size: var(--font-size-large);
    }
    .sched-header p {
        font-size: var(--font-size-medium);
    }
    .sub-card-top .sub-card-top-left p,
    .sub-card-bottom .sub-card-bottom-left,
    .btnn
    {
        font-size: var(--font-size-xxs);
    }
}
